.fs-7 {
    font-size: 13px;
}

.spy-1 {
    padding-top: 6px;
    padding-bottom: 6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.light .light-head {
    background-color: #f8f9fa;
}