<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>News Publishing</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Arimo|Merienda" rel="stylesheet">
	<script src="js/jquery-2.1.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

  </head>
<body>

<section id="top">
 <div class="container">
  <div class="row">
   <div class="top clearfix">
    <div class="col-sm-2">
	 <div class="top_1">
	  <p><i class="fa fa-cloud"></i> <a href="detail.html">3.9C</a> North Korea </p>
	 </div>
	</div>
	<div class="col-sm-2">
	 <div class="top_1">
	  <p>Monday, June 28 </p>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="top_2">
	  <p>
	  <a href="detail.html"> Log in / Join</a>
	  <a href="detail.html"> Web</a> 
	  <a href="detail.html"> Blog</a> 
	  <a href="detail.html"> Shop now!</a>
	  <a href="detail.html"> Contact</a>  
	  </p>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="top_3 text-right">
	  <p>
	  <a href="detail.html"><i class="fa fa-vimeo"></i></a>
	  <a href="detail.html"><i class="fa fa-vk"></i></a>
	  <a href="detail.html"><i class="fa fa-youtube"></i></a> 
	  <a href="detail.html"><i class="fa fa-facebook"></i></a>
	  <a href="detail.html"><i class="fa fa-twitter"></i></a>
	  </p>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="header">
	<nav class="navbar navbar-default cd-secondary-nav">
        <div class="container">
		    <div class="header_logo clearfix">
			  <div class="col-sm-4">
			   <div class="header_logo_left text-center">
			      <h3><a href="index.html">NEWS <span class="span_1">24</span> PUBLISHING <span class="span_2">This is publish world</span></a></h3>
			   </div>
			  </div>
			  <div class="col-sm-8">
			   <div class="header_logo_right">
			    <a href="#"><img src="img/1.jpg" width="100%" height="100px"></a>
			   </div>
			  </div>
			
			</div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="tag_menu" href="index.html">HOME</a> </li>
                     
                    <li>
                        <a class="tag_menu active_tab" href="blog.html">NEWS</a> </li>
					
					<li>
                        <a class="tag_menu" href="detail.html">DETAIL</a></li>
                    
					<li>
                        <a class="tag_menu" href="contact.html">CONTACT</a></li>
					
					
					<li class="dropdown dropdown-large">
			<a href="#" class="dropdown-toggle  large_1 tag_menu" data-toggle="dropdown">MORE<b class="caret"></b></a>
			
			<ul class="dropdown-menu dropdown-menu-large row ">
				<li class="col-sm-3">
					<ul> 
						<li><a href="#"><img src="img/2.jpg" width="100%"></a></li>
						<li class="dropdown-header">Navbar</li>
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit Integer nec odio Praesent libero.</a></li>
						
					</ul>
				</li>
				<li class="col-sm-3">
					<ul> 
						<li><a href="#"><img src="img/3.jpg" width="100%"></a></li>
						<li class="dropdown-header">Navbar</li>
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit Integer nec odio Praesent libero.</a></li>
						
					</ul>
				</li>
				<li class="col-sm-3">
					<ul> 
						<li><a href="#"><img src="img/4.jpg" width="100%"></a></li>
						<li class="dropdown-header">Navbar</li>
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit Integer nec odio Praesent libero.</a></li>
						
					</ul>
				</li>
				<li class="col-sm-3">
					<ul> 
						<li><a href="#"><img src="img/5.jpg" width="100%"></a></li>
						<li class="dropdown-header">Navbar</li>
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit Integer nec odio Praesent libero.</a></li>
						
					</ul>
				</li>
			</ul>
			
		</li>
		            
					<li class="dropdown">
						  <a class="tag_menu border_none" href="#" data-toggle="dropdown" role="button" aria-expanded="false">DROPDOWN<span class="caret"></span></a>
						  <ul class="dropdown-menu drop_n" role="menu">
							<li><a href="#">NEWS</a></li>
							<li><a href="#">DETAIL</a></li>
							<li><a href="#">HOME</a></li>
							<li><a href="#">CONTACT</a></li>
						  </ul>
						</li>
		   
		            <li>
                        <a class="tag_menu" href="#">POPULAR</a></li>
						
					<li>
                        <a class="tag_menu" href="#">WEBPAGES</a></li>
					
                </ul>
				<ul class="nav navbar-nav navbar-right">
                    
					<li class="dropdown"><a class="tag_menu  tag_menu_1 border_none_1" href="#" data-toggle="dropdown"><span class="fa fa-search"></span></a>
							<ul class="dropdown-menu drop_3" style="min-width: 300px;">
								<li>
									<div class="row_1">
										<div class="col-sm-12">
											<form class="navbar-form navbar-left" role="search">
											<div class="input-group">
												<input type="text" class="form-control" placeholder="Search">
												<span class="input-group-btn">
													<button class="btn btn-primary" type="button">
														Go!</button>
												</span>
											</div>
											</form>
										</div>
									</div>
								</li>
							</ul>
						</li>
					
                </ul>
				 
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</section>

<section id="center" class="center_blog">
 <div class="container">
  <div class="row">
   <div class="center clearfix">
    
	<div class="center_2 clearfix">
	  <div class="col-sm-6 space_all">
	   <div class="center_2_left clearfix">
	      <div class="ih-item square colored effect8 scale_down"><a href="detail.html">
                      <div class="img"><img src="img/68.jpg" height="350px" alt="img"></div>
                      <div class="info">
                        <h3>News is here</h3>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero.Sed dignissim lacinia nunc.</p>
                      </div></a></div>
	   </div>
	  </div>
	  <div class="col-sm-6 space_all">
	   <div class="center_2_left clearfix">
	      <div class="ih-item square colored effect8 scale_down"><a href="detail.html">
                      <div class="img"><img src="img/69.jpg" height="350px" alt="img"></div>
                      <div class="info">
                        <h3>News is here</h3>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero.Sed dignissim lacinia nunc.</p>
                      </div></a></div>
	   </div>
	  </div>
	</div>
	<div class="center_blog_1 clearfix">
	  <p>” Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos ligula in libero.“</p>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="blog_page">
 <div class="container">
  <div class="row">
   <div class="blog_page clearfix">
     <div class="col-sm-8 space_left">
	  <div class="blog_page_left clearfix">
	    <div class="col-sm-6">
			<div class="tab_inner_left">
		   <a href="detail.html"><img src="img/16.jpg" width="100%"></a>
		   <h4><a href="detail.html">Nulla Quis Sem Nibh Dapibus Sagittis Ipsum Imperdiet</a></h4>
		   <h6><span>Nulla Quis</span> -  Jan 18, 2016 <a class="pull-right pull_1" href="detail.html"><i class="fa fa-comment"></i></a></h6>
		   <p>Vestibulum lacinia arcu eget nulla ad litora torquent per conubia nostra, per inceptos himenaeos ligula in libero. Sed dignissim lacinia nunc...</p>
		  </div>
	   </div>
	    <div class="col-sm-6">
		  <div class="tab_inner_left">
	   <a href="detail.html"><img src="img/36.jpg" width="100%"></a>
	   <h4><a href="detail.html">Consectetur Elit Integer Nec Odio Nec Praesent Libero</a></h4>
	   <h6><span>Nulla Quis</span> -  Jan 18, 2016 <a class="pull-right pull_1" href="detail.html"><i class="fa fa-comment"></i></a></h6>
	   <p>Vestibulum lacinia arcu eget nulla ad litora torquent per conubia nostra, per inceptos himenaeos ligula in libero. Sed dignissim lacinia nunc...</p>
	  </div>
		</div>
	  </div>
	  <div class="blog_page_left clearfix">
	    <div class="col-sm-6">
			<div class="tab_inner_left">
		   <a href="detail.html"><img src="img/15.jpg" width="100%"></a>
		   <h4><a href="detail.html">Praesent Libero Sed Cursus Ante Duis Dapibus Diam</a></h4>
		   <h6><span>Nulla Quis</span> -  Jan 18, 2016 <a class="pull-right pull_1" href="detail.html"><i class="fa fa-comment"></i></a></h6>
		   <p>Vestibulum lacinia arcu eget nulla ad litora torquent per conubia nostra, per inceptos himenaeos ligula in libero. Sed dignissim lacinia nunc...</p>
		  </div>
	   </div>
	    <div class="col-sm-6">
		  <div class="tab_inner_left">
	   <a href="detail.html"><img src="img/70.jpg" width="100%"></a>
	   <h4><a href="detail.html">Duis Sagittis Ipsum Praesent Mauris Sit Fusce Nec Tellus</a></h4>
	   <h6><span>Nulla Quis</span> -  Jan 18, 2016 <a class="pull-right pull_1" href="detail.html"><i class="fa fa-comment"></i></a></h6>
	   <p>Vestibulum lacinia arcu eget nulla ad litora torquent per conubia nostra, per inceptos himenaeos ligula in libero. Sed dignissim lacinia nunc...</p>
	  </div>
		</div>
	  </div>
	  <div class="blog_page_left clearfix">
	    <div class="col-sm-6">
			<div class="tab_inner_left">
		   <a href="detail.html"><img src="img/71.jpg" width="100%"></a>
		   <h4><a href="detail.html">Fusce Nec Tellus Sed Augue Semper At Porta Massa</a></h4>
		   <h6><span>Nulla Quis</span> -  Jan 18, 2016 <a class="pull-right pull_1" href="detail.html"><i class="fa fa-comment"></i></a></h6>
		   <p>Vestibulum lacinia arcu eget nulla ad litora torquent per conubia nostra, per inceptos himenaeos ligula in libero. Sed dignissim lacinia nunc...</p>
		  </div>
	   </div>
	    <div class="col-sm-6">
		  <div class="tab_inner_left">
	   <a href="detail.html"><img src="img/72.jpg" width="100%"></a>
	   <h4><a href="detail.html">Mauris Massa on Duis Sagittis Ipsum Praesent Mauris Sit Fusce Nec Tellus</a></h4>
	   <h6><span>Nulla Quis</span> -  Jan 18, 2016 <a class="pull-right pull_1" href="detail.html"><i class="fa fa-comment"></i></a></h6>
	   <p>Vestibulum lacinia arcu eget nulla ad litora torquent per conubia nostra, per inceptos himenaeos ligula in libero. Sed dignissim lacinia nunc...</p>
	  </div>
		</div>
	  </div>
	  <div class="blog_page_left clearfix">
	    <div class="col-sm-6">
			<div class="tab_inner_left">
		   <a href="detail.html"><img src="img/73.jpg" width="100%"></a>
		   <h4><a href="detail.html">Semper Porta on Consectetur Elit Integer Nec Odio Nec Praesent ..</a></h4>
		   <h6><span>Nulla Quis</span> -  Jan 18, 2016 <a class="pull-right pull_1" href="detail.html"><i class="fa fa-comment"></i></a></h6>
		   <p>Vestibulum lacinia arcu eget nulla ad litora torquent per conubia nostra, per inceptos himenaeos ligula in libero. Sed dignissim lacinia nunc...</p>
		  </div>
	   </div>
	    <div class="col-sm-6">
		  <div class="tab_inner_left">
	   <a href="detail.html"><img src="img/74.jpg" width="100%"></a>
	   <h4><a href="detail.html">Sed Augue on Nulla Quis Sem Nibh Dapibus Sagittis Ipsum Imperdiet</a></h4>
	   <h6><span>Nulla Quis</span> -  Jan 18, 2016 <a class="pull-right pull_1" href="detail.html"><i class="fa fa-comment"></i></a></h6>
	   <p>Vestibulum lacinia arcu eget nulla ad litora torquent per conubia nostra, per inceptos himenaeos ligula in libero. Sed dignissim lacinia nunc...</p>
	  </div>
		</div>
	  </div>
	  
	  <div class="middle_last_3_left_inner_1 blog_page_left_page col-sm-12 clearfix">
	  <ul class="pagination">
              <li class="disabled"><a href="detail.html">«</a></li>
              <li class="active"><a href="detail.html">1 <span class="sr-only">(current)</span></a></li>
              <li><a href="detail.html">2</a></li>
              <li><a href="detail.html">3</a></li>
              <li><a href="detail.html">4</a></li>
              <li><a href="detail.html">5</a></li>
              <li><a href="detail.html">»</a></li>
            </ul>
	</div>
	 </div>
	   <div class="col-sm-4">
	     <div class="blog_page_right clearfix">
		   <div class="middle_right_2 clearfix">
			<div class="grid clearfix">
					<figure class="effect-chico">
						<img src="img/43.jpg" alt="img15">
						<figcaption>
							<h2>Head <span>Lines</span></h2>
							<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc...</p>
					 </figcaption>			
	            </figure>
					
	  </div>
	       </div>
		   <div class="middle_last_1_inner">
	    <h4 class="heading_tag"><a href="detail.html">TRENDING BLOGS</a></h4>
		<div class="ih-item square effect2"><a href="detail.html">
                      <div class="img"><img src="img/75.jpg" alt="img"></div>
                      <div class="info">
                        <h3>News is here</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Integer nec odio Praesent libero. Sed cursus ante dapibus diam...</p>
                      </div></a></div>
		<div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="detail.html"><img src="img/51.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="detail.html">Curabitursodales ligula in libero Sed dignissim lacinia nunc.</a></p>
						 <h6>Mar 15, 2016</h6>
						</div>
					   </div>
					  </div>
	    <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="detail.html"><img src="img/52.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="detail.html">Per inceptos himenaeos ligula in Sed dignissim lacinia?</a></p>
						 <h6>Mar 15, 2016</h6>
						</div>
					   </div>
					  </div>
	    <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="detail.html"><img src="img/53.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="detail.html">Fusce nec tellus sed augue semper porta Mauris massa lacinia lacinia nunc</a></p>
						 <h6>Mar 15, 2016</h6>
						</div>
					   </div>
					  </div>
		<div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="detail.html"><img src="img/53.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="detail.html">Vestibulum lacinia arcu eget nulla ad litora torquent per conubia nostra, per inceptos himenaeos </a></p>
						 <h6>Mar 15, 2016</h6>
						</div>
					   </div>
					  </div>
	  </div>
	       <div class="footer_1_inner_1">
			  <h4 class="heading_tag"><a href="detail.html">TRENDING CATEGORIES</a></h4>
			  <p><a href="detail.html">Widgets<span class="pull-right">25</span></a></p>
			  <p><a href="detail.html">Technical<span class="pull-right">41</span></a></p>
			  <p><a href="detail.html">New launch 2017<span class="pull-right">21</span></a></p>
			  <p><a href="detail.html">Comments<span class="pull-right">17</span></a></p>
			  <p><a href="detail.html">Computer and Phones<span class="pull-right">18</span></a></p>
			  <p><a href="detail.html">Foods<span class="pull-right">19</span></a></p>
	      </div>
		   <div class="blog_page_right_last clearfix">
		     <h4 class="heading_tag"><a href="detail.html">LATEST CATEGORIES</a></h4>
			 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
				  <ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
					<li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
				  </ol>

      <!-- Wrapper for slides -->
				  <div class="carousel-inner">
					<div class="item active">
					  <img src="img/76.jpg" alt="...">
					  <div class="carousel-caption">
						<h4>Ligula In Libero</h4>
					  </div>
					</div>
					<div class="item">
					  <img src="img/77.jpg" alt="...">
					  <div class="carousel-caption">
						<h4>Ligula In Libero</h4>
					  </div>
					</div>
					<div class="item">
					  <img src="img/78.jpg" alt="...">
					  <div class="carousel-caption">
						<h4>Ligula In Libero</h4>
					  </div>
					</div>
				  </div>

      <!-- Controls -->
				  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				  </a>
				  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				  </a>
    </div>
		   </div>
		 </div>
	   </div>
   </div>
  </div>
 </div>
</section>

<section id="footer">
 <div class="footer_main clearfix">
  <div class="container">
  <div class="row">
   <div class="footer_1 clearfix">
    <div class="col-sm-4">
	 <div class="footer_1_inner">
	  <h4>DIRECTOR CHOICES</h4>
	  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="detail.html"><img src="img/55.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="detail.html">Fusce nec tellus sed augue semper porta Mauris massa lacinia Sed dignissim lacinia nunc...</a></p>
						 <h6>Feb 27, 2016</h6>
						</div>
					   </div>
	   </div>
	  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="detail.html"><img src="img/56.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="detail.html">Vestibulum lacinia arcu eget nulla ad litora torquent per conubia nostra,ligula in libero</a></p>
						 <h6>Feb 27, 2016</h6>
						</div>
					   </div>
	   </div>
	  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="detail.html"><img src="img/57.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="detail.html">Per inceptos himenaeos ligula in Sed dignissim lacinia</a></p>
						 <h6>Feb 27, 2016</h6>
						</div>
					   </div>
	   </div>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="footer_1_inner">
	  <h4>TRENDING BLOGS</h4>
	  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="detail.html"><img src="img/51.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="detail.html">Per inceptos himenaeos ligula in Sed dignissim lacinia</a></p>
						 <h6>Feb 27, 2016</h6>
						</div>
					   </div>
	   </div>
	  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="detail.html"><img src="img/52.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="detail.html">Fusce nec tellus sed augue semper porta Mauris massa lacinia Sed dignissim lacinia nunc...</a></p>
						 <h6>Feb 27, 2016</h6>
						</div>
					   </div>
	   </div>
	  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="detail.html"><img src="img/53.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="detail.html">Curabitursodales ligula in libero Sed dignissim lacinia nunc</a></p>
						 <h6>Feb 27, 2016</h6>
						</div>
					   </div>
	   </div>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="footer_1_inner_1">
	  <h4>TRENDING CATEGORY</h4>
      <p><a href="detail.html">Widgets<span class="pull-right">25</span></a></p>
	  <p><a href="detail.html">Technical<span class="pull-right">24</span></a></p>
	  <p><a href="detail.html">New launch 2017<span class="pull-right">23</span></a></p>
	  <p><a href="detail.html">Comments<span class="pull-right">21</span></a></p>
	  <p><a href="detail.html">Computer and Phones<span class="pull-right">29</span></a></p>
	  <p><a href="detail.html">Foods<span class="pull-right">41</span></a></p>
	  <p><a href="detail.html">Designs<span class="pull-right">31</span></a></p>
	  <p><a href="detail.html">Home Designs<span class="pull-right">28</span></a></p>
	  <p><a href="detail.html">Fashion Club<span class="pull-right">22</span></a></p>
	 </div>
	</div>
   </div>
   <div class="footer_2 clearfix">
    <hr>
	<div class="footer_2_inner clearfix">
	 <div class="col-sm-4">
	  <div class="footer_2_inner_1 clearfix">
	    <div class="header_logo_left">
			      <h3><a href="index.html">NEWS <span class="span_1">24</span> PUBLISHING <span class="span_2">This is publish world</span></a></h3>
		</div>
	  </div>
	 </div>
	 <div class="col-sm-4">
	  <div class="footer_2_inner_2">
	   <h4>KNOW US</h4>
	   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>
	   <h5>Connect with us: <a href="detail.html">info@gmail.com</a></h5>
	  </div>
	 </div>
	 <div class="col-sm-4">
	  <div class="footer_2_inner_3">
	   <h4>FOLLOW US</h4>
	   <ul class="social-network social-circle">
                        <li><a href="detail.html" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="detail.html" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="detail.html" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="detail.html" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="detail.html" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul>
	  </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
 </div>
</section>

<section id="footer_bottom">
 <div class="container">
  <div class="row">
   <div class="footer_bottom clearfix">
    <div class="col-sm-6">
	 <div class="footer_bottom_left">
	  <p> © 2013 Your Website Name. All Rights Reserved | Design by <a href="http://www.templateonweb.com">TemplateOnWeb</a></p>
	 </div>
	</div>
	<div class="col-sm-6">
	 <div class="footer_bottom_right text-right">
	  <p>
	  <a href="#">Privacy</a>
	  <a href="#">Policy</a>
	  <a href="#">Promotion</a>
	  <a href="#">Contact us</a>
	  </p>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<div id="toTop" class="btn btn-info" style="display: block; background:#4db2ec; border-color:#4db2ec;"><span class="fa fa-chevron-up"></span></div>

<script type="text/javascript">
$(document).ready(function(){
  $('body').append('<div id="toTop" class="btn btn-info"><span class="glyphicon glyphicon-chevron-up"></span> Back to Top</div>');
	$(window).scroll(function () {
		if ($(this).scrollTop() != 0) {
			$('#toTop').fadeIn();
		} else {
			$('#toTop').fadeOut();
		}
	}); 
$('#toTop').click(function(){
	$("html, body").animate({ scrollTop: 0 }, 600);
	return false;
});
});

</script>


</body>
       
</html>
