<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>News Publishing</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Arimo|Merienda" rel="stylesheet">
	<script src="js/jquery-2.1.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

  </head>
<body>

<section id="top">
 <div class="container">
  <div class="row">
   <div class="top clearfix">
    <div class="col-sm-2">
	 <div class="top_1">
	  <p><i class="fa fa-cloud"></i> <a href="#">3.9C</a> North Korea </p>
	 </div>
	</div>
	<div class="col-sm-2">
	 <div class="top_1">
	  <p>Monday, June 28 </p>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="top_2">
	  <p>
	  <a href="#"> Log in / Join</a>
	  <a href="#"> Web</a> 
	  <a href="#"> Blog</a> 
	  <a href="#"> Shop now!</a>
	  <a href="#"> Contact</a>  
	  </p>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="top_3 text-right">
	  <p>
	  <a href="#"><i class="fa fa-vimeo"></i></a>
	  <a href="#"><i class="fa fa-vk"></i></a>
	  <a href="#"><i class="fa fa-youtube"></i></a> 
	  <a href="#"><i class="fa fa-facebook"></i></a>
	  <a href="#"><i class="fa fa-twitter"></i></a>
	  </p>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="header">
	<nav class="navbar navbar-default cd-secondary-nav">
        <div class="container">
		    <div class="header_logo clearfix">
			  <div class="col-sm-4">
			   <div class="header_logo_left text-center">
			      <h3><a href="index.html">NEWS <span class="span_1">24</span> PUBLISHING <span class="span_2">This is publish world</span></a></h3>
			   </div>
			  </div>
			  <div class="col-sm-8">
			   <div class="header_logo_right">
			    <a href="#"><img src="img/1.jpg" width="100%" height="100px"></a>
			   </div>
			  </div>
			
			</div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="tag_menu" href="index.html">HOME</a> </li>
                     
                    <li>
                        <a class="tag_menu" href="blog.html">NEWS</a> </li>
					
					<li>
                        <a class="tag_menu" href="detail.html">DETAIL</a></li>
                    
					<li>
                        <a class="tag_menu active_tab" href="contact.html">CONTACT</a></li>
					
					
					<li class="dropdown dropdown-large">
			<a href="#" class="dropdown-toggle  large_1 tag_menu" data-toggle="dropdown">MORE<b class="caret"></b></a>
			
			<ul class="dropdown-menu dropdown-menu-large row ">
				<li class="col-sm-3">
					<ul> 
						<li><a href="#"><img src="img/2.jpg" width="100%"></a></li>
						<li class="dropdown-header">Navbar</li>
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit Integer nec odio Praesent libero.</a></li>
						
					</ul>
				</li>
				<li class="col-sm-3">
					<ul> 
						<li><a href="#"><img src="img/3.jpg" width="100%"></a></li>
						<li class="dropdown-header">Navbar</li>
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit Integer nec odio Praesent libero.</a></li>
						
					</ul>
				</li>
				<li class="col-sm-3">
					<ul> 
						<li><a href="#"><img src="img/4.jpg" width="100%"></a></li>
						<li class="dropdown-header">Navbar</li>
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit Integer nec odio Praesent libero.</a></li>
						
					</ul>
				</li>
				<li class="col-sm-3">
					<ul> 
						<li><a href="#"><img src="img/5.jpg" width="100%"></a></li>
						<li class="dropdown-header">Navbar</li>
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit Integer nec odio Praesent libero.</a></li>
						
					</ul>
				</li>
			</ul>
			
		</li>
		            
					<li class="dropdown">
						  <a class="tag_menu border_none" href="#" data-toggle="dropdown" role="button" aria-expanded="false">DROPDOWN<span class="caret"></span></a>
						  <ul class="dropdown-menu drop_n" role="menu">
							<li><a href="#">NEWS</a></li>
							<li><a href="#">DETAIL</a></li>
							<li><a href="#">HOME</a></li>
							<li><a href="#">CONTACT</a></li>
						  </ul>
						</li>
		   
		            <li>
                        <a class="tag_menu" href="#">POPULAR</a></li>
						
					<li>
                        <a class="tag_menu" href="#">WEBPAGES</a></li>
					
                </ul>
				<ul class="nav navbar-nav navbar-right">
                    
					<li class="dropdown"><a class="tag_menu  tag_menu_1 border_none_1" href="#" data-toggle="dropdown"><span class="fa fa-search"></span></a>
							<ul class="dropdown-menu drop_3" style="min-width: 300px;">
								<li>
									<div class="row_1">
										<div class="col-sm-12">
											<form class="navbar-form navbar-left" role="search">
											<div class="input-group">
												<input type="text" class="form-control" placeholder="Search">
												<span class="input-group-btn">
													<button class="btn btn-primary" type="button">
														Go!</button>
												</span>
											</div>
											</form>
										</div>
									</div>
								</li>
							</ul>
						</li>
					
                </ul>
				 
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</section>

<section id="contact">
    <div class="container">
	  <div class="row">
	    <div class="col-sm-12">
		   <h1 class="text-center">Contact Us</h1>
		   <div class="col-sm-4">
		    <div class="contact_1 text-center">
			  <p class="text_1"><i class="fa fa-map-marker"></i></p>
			  <h3>Address</h3>
			  <span class="text_3">8th floor - Cursus Hotel - 241D Elit of  Nec - INDIA</span>
			</div>
		   </div>
		   <div class="col-sm-4">
		    <div class="contact_1 text-center">
			  <p class="text_2"><i class="glyphicon glyphicon-earphone"></i></p>
			  <h3>Phone</h3>
			  <span class="text_3">Telephone: +1 600 503 8035</span>
			</div>
		   </div>
		   <div class="col-sm-4">
		    <div class="contact_1 text-center">
			  <p class="text_2"><i class="fa fa-envelope"></i></p>
			  <h3>E-mail</h3>
			  <span class="text_3">E-mail: <a href="#">info@gmail.com</a></span>
			</div>
		   </div>
		</div>
		<div class="space_all col-sm-12 con_n">
		 <div class="col-sm-6">
		  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114964.53925916665!2d-80.29949920266738!3d25.782390733064336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b0a20ec8c111%3A0xff96f271ddad4f65!2sMiami%2C+FL%2C+USA!5e0!3m2!1sen!2sin!4v1530774403788" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen=""></iframe>
		 </div>
		 <div class="col-sm-6">
		  <h3 class="text-center touch">Get In Connect With Our Company</h3>
		  <div class="col-sm-4">
		   <div class="contact_2">
		    <input class="form-control" type="text" placeholder="Name">
		   </div>
		  </div>
		  <div class="col-sm-4">
		   <div class="contact_2">
		    <input class="form-control" type="text" placeholder="Email">
		   </div>
		  </div>
		  <div class="col-sm-4">
		   <div class="contact_2">
		    <input class="form-control" type="text" placeholder="Telephone">
		   </div>
		  </div>
		  <div class="col-sm-12">
		    <div class="contact_3">
			  <textarea placeholder="Message..." class="form-control form_1"></textarea>
			   <a href="#">Submit</a>
			</div>
		  </div>
		  
		</div>
		</div>
		
	  </div>
	</div>
</section>

<section id="footer">
 <div class="footer_main clearfix">
  <div class="container">
  <div class="row">
   <div class="footer_1 clearfix">
    <div class="col-sm-4">
	 <div class="footer_1_inner">
	  <h4>DIRECTOR CHOICES</h4>
	  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="img/55.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce nec tellus sed augue semper porta Mauris massa lacinia Sed dignissim lacinia nunc...</a></p>
						 <h6>Feb 27, 2016</h6>
						</div>
					   </div>
	   </div>
	  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="img/56.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Vestibulum lacinia arcu eget nulla ad litora torquent per conubia nostra,ligula in libero</a></p>
						 <h6>Feb 27, 2016</h6>
						</div>
					   </div>
	   </div>
	  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="img/57.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Per inceptos himenaeos ligula in Sed dignissim lacinia</a></p>
						 <h6>Feb 27, 2016</h6>
						</div>
					   </div>
	   </div>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="footer_1_inner">
	  <h4>TRENDING BLOGS</h4>
	  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="img/51.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Per inceptos himenaeos ligula in Sed dignissim lacinia</a></p>
						 <h6>Feb 27, 2016</h6>
						</div>
					   </div>
	   </div>
	  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="img/52.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce nec tellus sed augue semper porta Mauris massa lacinia Sed dignissim lacinia nunc...</a></p>
						 <h6>Feb 27, 2016</h6>
						</div>
					   </div>
	   </div>
	  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="img/53.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Curabitursodales ligula in libero Sed dignissim lacinia nunc</a></p>
						 <h6>Feb 27, 2016</h6>
						</div>
					   </div>
	   </div>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="footer_1_inner_1">
	  <h4>TRENDING CATEGORY</h4>
      <p><a href="#">Widgets<span class="pull-right">25</span></a></p>
	  <p><a href="#">Technical<span class="pull-right">24</span></a></p>
	  <p><a href="#">New launch 2017<span class="pull-right">23</span></a></p>
	  <p><a href="#">Comments<span class="pull-right">21</span></a></p>
	  <p><a href="#">Computer and Phones<span class="pull-right">29</span></a></p>
	  <p><a href="#">Foods<span class="pull-right">41</span></a></p>
	  <p><a href="#">Designs<span class="pull-right">31</span></a></p>
	  <p><a href="#">Home Designs<span class="pull-right">28</span></a></p>
	  <p><a href="#">Fashion Club<span class="pull-right">22</span></a></p>
	 </div>
	</div>
   </div>
   <div class="footer_2 clearfix">
    <hr>
	<div class="footer_2_inner clearfix">
	 <div class="col-sm-4">
	  <div class="footer_2_inner_1 clearfix">
	    <div class="header_logo_left">
			      <h3><a href="index.html">NEWS <span class="span_1">24</span> PUBLISHING <span class="span_2">This is publish world</span></a></h3>
		</div>
	  </div>
	 </div>
	 <div class="col-sm-4">
	  <div class="footer_2_inner_2">
	   <h4>KNOW US</h4>
	   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>
	   <h5>Connect with us: <a href="#">info@gmail.com</a></h5>
	  </div>
	 </div>
	 <div class="col-sm-4">
	  <div class="footer_2_inner_3">
	   <h4>FOLLOW US</h4>
	   <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul>
	  </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
 </div>
</section>

<section id="footer_bottom">
 <div class="container">
  <div class="row">
   <div class="footer_bottom clearfix">
    <div class="col-sm-6">
	 <div class="footer_bottom_left">
	  <p> © 2013 Your Website Name. All Rights Reserved | Design by <a href="http://www.templateonweb.com">TemplateOnWeb</a></p>
	 </div>
	</div>
	<div class="col-sm-6">
	 <div class="footer_bottom_right text-right">
	  <p>
	  <a href="#">Privacy</a>
	  <a href="#">Policy</a>
	  <a href="#">Promotion</a>
	  <a href="#">Contact us</a>
	  </p>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<div id="toTop" class="btn btn-info" style="display: block; background:#4db2ec; border-color:#4db2ec;"><span class="fa fa-chevron-up"></span></div>

<script type="text/javascript">
$(document).ready(function(){
  $('body').append('<div id="toTop" class="btn btn-info"><span class="glyphicon glyphicon-chevron-up"></span> Back to Top</div>');
	$(window).scroll(function () {
		if ($(this).scrollTop() != 0) {
			$('#toTop').fadeIn();
		} else {
			$('#toTop').fadeOut();
		}
	}); 
$('#toTop').click(function(){
	$("html, body").animate({ scrollTop: 0 }, 600);
	return false;
});
});

</script>


</body>
       
</html>
