<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>News Publishing</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Arimo|Merienda" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style1.css" />
	<link rel="stylesheet" type="text/css" href="css/style_common.css" />
	<script src="js/jquery-2.1.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

  </head>
<body>

<section id="top">
 <div class="container">
  <div class="row">
   <div class="top clearfix">
    <div class="col-sm-2">
	 <div class="top_1">
	  <p><i class="fa fa-cloud"></i> <a href="#">3.9C</a> North Korea </p>
	 </div>
	</div>
	<div class="col-sm-2">
	 <div class="top_1">
	  <p>Monday, June 28 </p>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="top_2">
	  <p>
	  <a href="#"> Log in / Join</a>
	  <a href="#"> Web</a> 
	  <a href="#"> Blog</a> 
	  <a href="#"> Shop now!</a>
	  <a href="#"> Contact</a>  
	  </p>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="top_3 text-right">
	  <p>
	  <a href="#"><i class="fa fa-vimeo"></i></a>
	  <a href="#"><i class="fa fa-vk"></i></a>
	  <a href="#"><i class="fa fa-youtube"></i></a> 
	  <a href="#"><i class="fa fa-facebook"></i></a>
	  <a href="#"><i class="fa fa-twitter"></i></a>
	  </p>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="header">
	<nav class="navbar navbar-default cd-secondary-nav">
        <div class="container">
		    <div class="header_logo clearfix">
			  <div class="col-sm-4">
			   <div class="header_logo_left text-center">
			      <h3><a href="index.html">NEWS <span class="span_1">24</span> PUBLISHING <span class="span_2">This is publish world</span></a></h3>
			   </div>
			  </div>
			  <div class="col-sm-8">
			   <div class="header_logo_right">
			    <a href="#"><img src="img/1.jpg" width="100%" height="100px"></a>
			   </div>
			  </div>
			
			</div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="tag_menu" href="index.html">HOME</a> </li>
                     
                    <li>
                        <a class="tag_menu" href="blog.html">NEWS</a> </li>
					
					<li>
                        <a class="tag_menu active_tab" href="detail.html">DETAIL</a></li>
                    
					<li>
                        <a class="tag_menu" href="contact.html">CONTACT</a></li>
					
					
					<li class="dropdown dropdown-large">
			<a href="#" class="dropdown-toggle  large_1 tag_menu" data-toggle="dropdown">MORE<b class="caret"></b></a>
			
			<ul class="dropdown-menu dropdown-menu-large row ">
				<li class="col-sm-3">
					<ul> 
						<li><a href="#"><img src="img/2.jpg" width="100%"></a></li>
						<li class="dropdown-header">Navbar</li>
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit Integer nec odio Praesent libero.</a></li>
						
					</ul>
				</li>
				<li class="col-sm-3">
					<ul> 
						<li><a href="#"><img src="img/3.jpg" width="100%"></a></li>
						<li class="dropdown-header">Navbar</li>
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit Integer nec odio Praesent libero.</a></li>
						
					</ul>
				</li>
				<li class="col-sm-3">
					<ul> 
						<li><a href="#"><img src="img/4.jpg" width="100%"></a></li>
						<li class="dropdown-header">Navbar</li>
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit Integer nec odio Praesent libero.</a></li>
						
					</ul>
				</li>
				<li class="col-sm-3">
					<ul> 
						<li><a href="#"><img src="img/5.jpg" width="100%"></a></li>
						<li class="dropdown-header">Navbar</li>
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit Integer nec odio Praesent libero.</a></li>
						
					</ul>
				</li>
			</ul>
			
		</li>
		            
					<li class="dropdown">
						  <a class="tag_menu border_none" href="#" data-toggle="dropdown" role="button" aria-expanded="false">DROPDOWN<span class="caret"></span></a>
						  <ul class="dropdown-menu drop_n" role="menu">
							<li><a href="#">NEWS</a></li>
							<li><a href="#">DETAIL</a></li>
							<li><a href="#">HOME</a></li>
							<li><a href="#">CONTACT</a></li>
						  </ul>
						</li>
		   
		            <li>
                        <a class="tag_menu" href="#">POPULAR</a></li>
						
					<li>
                        <a class="tag_menu" href="#">WEBPAGES</a></li>
					
                </ul>
				<ul class="nav navbar-nav navbar-right">
                    
					<li class="dropdown"><a class="tag_menu  tag_menu_1 border_none_1" href="#" data-toggle="dropdown"><span class="fa fa-search"></span></a>
							<ul class="dropdown-menu drop_3" style="min-width: 300px;">
								<li>
									<div class="row_1">
										<div class="col-sm-12">
											<form class="navbar-form navbar-left" role="search">
											<div class="input-group">
												<input type="text" class="form-control" placeholder="Search">
												<span class="input-group-btn">
													<button class="btn btn-primary" type="button">
														Go!</button>
												</span>
											</div>
											</form>
										</div>
									</div>
								</li>
							</ul>
						</li>
					
                </ul>
				 
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</section>

<section id="blog_page">
 <div class="container">
  <div class="row">
   <div class="blog_page clearfix">
     <div class="col-sm-8">
	   <div class="blog_detail clearfix">
	    <div class="blog_detail_1 clearfix">
		 <p><a href="#">Homepage</a> <i class="fa fa-chevron-right"></i>  <a href="#">Architect</a> <i class="fa fa-chevron-right"></i>  Class aptent taciti sociosqu ad litora torquent per conubia nostra</p>
		 <h6><a href="#">Tech world</a></h6>
		 <h1>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit</h1>
		 <div class="blog_detail_1_inner clearfix">
		  <div class="col-sm-6 space_left">
		   <div class="blog_detail_1_inner_left">
		    <h5>By <a href="#">Integer Nec</a> - Feb 19, 2016</h5>
		   </div>
		  </div>
		  <div class="col-sm-6">
		   <div class="blog_detail_1_inner_right text-right">
		     <h5>
			 <span class="span_1"><i class="fa fa-eye"></i> 112</span>
			 <span> <i class="fa fa-comment"></i> 3</span>
			 </h5>
		   </div>
		  </div>
		 </div>
		</div>
		<div class="news_left_2 clearfix">
		 <ul>
		<li class="icon_link_1"><a href="#"><i class="fa fa-facebook-square"></i>FACEBOOK</a></li>
		<li class="icon_link_2"><a href="#"><i class="fa fa-twitter"></i>TWITTER</a></li>
		<li class="icon_link_3"><a href="#"><i class="fa fa-google-plus"></i>GOOGLE+</a></li>
		<li class="icon_link_4"><a href="#"><i class="fa fa-linkedin"></i>LINKEDIN</a></li>
		<li class="icon_link_5"><a href="#"><i class="fa fa-pinterest"></i>PINTEREST</a></li>
		</ul>
		
		</div>
		<div class="blog_detail_2 clearfix">
		   <div class="view view-eighth">
                    <img src="img/79.jpg" width="100%">
                    <div class="mask">
                        <h2>ENTERTAINMENT</h2>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc.</p>
                        <a href="#" class="info">Learn More</a>
                    </div>
                </div>
		</div>
		<div class="blog_detail_3 clearfix">
		 <div class="blog_detail_3_inner clearfix">
		   <p class="p_1"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed <a href="#">Cursus</a> ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Fusce nec tellus sed augue semper porta.</p>
		   <h3> Vestibulum lacinia arcu eget nulla Class aptent taciti sociosqu ad litora torquent per conubia nostra.</h3>
		   <p class="p_2"> Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc.</p>
		   <p class="p_2"> Fusce nec tellus sed augue semper porta  Mauris massa Vestibulum lacinia arcu eget nulla Class aptent taciti sociosqu ad litora torquent.</p>
		 </div>
		</div>
		<div class="blog_detail_2 clearfix">
		   <div class="view view-eighth">
                    <img src="img/80.jpg" width="100%">
                    <div class="mask">
                        <h2>ENTERTAINMENT</h2>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc.</p>
                        <a href="#" class="info">Learn More</a>
                    </div>
                </div>
		</div>
		<div class="blog_detail_3 clearfix">
		 <div class="blog_detail_3_inner clearfix">
		   <h3> Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos Sed dignissim lacinia nunc.</h3>
		   <p class="p_2">  Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero.</p>
		   
		   <p class="p_2">Duis sagittis ipsum Praesent <a href="#">mauris Fusce nec tellus sed augue</a> semper porta. Mauris massa.Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.</p>
		   <div class="blog_detail_3_inner_1 clearfix">
				<h5><i class="fa fa-chevron-right"></i> Praesent mauris Fusce nec tellus sed augue semper porta</h5>
			   <h5><i class="fa fa-chevron-right"></i> Sed cursus ante dapibus diam Sed nisi Nulla quis sem at nibh elementum</h5>
			   <h5><i class="fa fa-chevron-right"></i> Vestibulum lacinia arcu eget nulla Class aptent taciti sociosqu</h5>
			   <h5><i class="fa fa-chevron-right"></i> Fusce nec tellus sed augue semper porta Mauris massa</h5>
		   </div>
		   <p class="p_2">Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.</p>
		   <h1 class="text-center">NULLA QUIS SEM AT NIBH   DUIS SAGITTIS IPSUM</h1>
		   <p class="p_2">Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
		   <p class="p_2">Praesent mauris Fusce nec tellus sed augue semper porta. Mauris massa.Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per <a href="#">Inceptos Himenaeos</a> Curabitursodales ligula in libero. Sed dignissim lacinia nunc.</p>
		   <p class="p_3">Popular: <a href="#"> Ligula in libero Sed dignissim lacinia nunc</a></p>
		 </div>
		</div>
		<div class="blog_detail_4 clearfix">
		 <div class="col-sm-6">
		  <div class="blog_detail_4_left clearfix">
		    <div class="view view-eighth">
                    <img src="img/81.jpg" width="100%" height="600px">
                    <div class="mask">
                        <h2>ENTERTAINMENT</h2>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc.</p>
                        <a href="#" class="info">Learn More</a>
                    </div>
                </div>
		  </div>
		 </div>
		 <div class="col-sm-6">
		  <div class="blog_detail_4_right">
		   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam<br> Sed nisi.</p>
		   <p>Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per Inceptos Himenaeos.</p>
		   <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos ligula in libero.</p>
		   <h3>Praesent libero Sed cursus ante dapibus diam Sed nisi per inceptos himenaeos</h3>
		   <p>Fusce nec tellus sed augue semper porta. Mauris massa.Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra.
</p>
		  </div>
		 </div>
		 <div class="blog_detail_4_inner_last clearfix">
		  <p>Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.</p>
		  <h1 class="text-center">CLASS APTENT TACITI SOCIOSQU AD  PER CONUBIA NOSTRA</h1>
		  <p>Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero.</p>
		  <p>Fusce nec tellus sed augue semper porta Mauris massa Vestibulum lacinia arcu eget nulla Class aptent taciti sociosqu ad litora torquent.</p>
		 </div>
		</div>
		<div class="blog_detail_2 blog_detail_2_last clearfix">
		   <div class="view view-eighth">
                    <img src="img/82.jpg" width="100%">
                    <div class="mask">
                        <h2>ENTERTAINMENT</h2>
                        <p> Fusce nec tellus sed augue semper porta. Mauris massa.Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc.</p>
                        <a href="#" class="info">Learn More</a>
                    </div>
                </div>
		</div>
		<div class="blog_detail_3 clearfix">
		 <div class="blog_detail_3_inner blog_detail_3_inner_second clearfix">
		   <p class="p_2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed Cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Fusce nec tellus sed augue semper porta.</p>
		   <h3>Nulla quis sem at nibh elementum imperdiet:</h3>
		   
		   <div class="blog_detail_3_inner_1 clearfix">
				<h5><i class="fa fa-chevron-right"></i> Fusce nec tellus sed augue semper porta Mauris massa</h5>
			   <h5><i class="fa fa-chevron-right"></i> Vestibulum lacinia arcu eget nulla Class aptent taciti sociosqu</h5>
			   <h5><i class="fa fa-chevron-right"></i> Sed cursus ante dapibus diam Sed nisi Nulla quis sem at nibh elementum</h5>
			   <h5><i class="fa fa-chevron-right"></i> Praesent mauris Fusce nec tellus sed augue semper porta</h5>
		   </div>
		   <p class="p_2">Praesent libero Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent?</p>
		   <p class="p_2">Duis sagittis ipsum Praesent mauris Fusce nec tellus sed augue semper porta. Mauris massa.Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.</p>
		 </div>
		</div>
		
		<div class="blog_comment clearfix">
		 <div class="blog_comment_1 text-center clearfix">
		  <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
         </ul>
		 </div>
		 <div class="blog_comment_2 clearfix">
		  <h6>Next blog</h6>
		  <p><a href="#">Sociosqu Ad Litora Torquent Per Conubia Nostra Per<br> Inceptos</a></p>
		 </div>
		 <div class="blog_comment_3 clearfix">
		  <div class="col-sm-2">
		   <div class="blog_comment_3_left">
		    <a href="#"><img src="img/83.jpg" width="100%"></a>
		   </div>
		  </div>
		  <div class="col-sm-10">
		   <div class="blog_comment_3_right">
		    <h5><a href="#">Nec Odio</a></h5>
			<h6><a href="#">http://www.templateonweb.com</a></h6>
			<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.</p>
			<ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
           </ul>
		   </div>
		  </div>
		 </div>
		 <div class="blog_comment_4 clearfix">
		  <div class="middle_left_1 clearfix">
		    <div class="middle_left_menu clearfix">
		   <ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#home_comment">LATEST BLOGS</a></li>
				<li><a data-toggle="tab" href="#menu1_comment">SOME FROM OWNER</a></li>
           </ul>
          </div>

			<div class="tab-content clearfix">
			  <div id="home_comment" class="tab-pane fade in active clearfix">
				 <div class="click clearfix">
				  <div class="tab_inner clearfix">
					 <div class="col-sm-4 space_left">
					  <div class="tab_inner_left tab_inner_comment clearfix tab_inner_left_news">
					   <a href="#"><img src="img/84.jpg" width="100%"></a>
					   <h4><a href="#">Sed cursus ante dapibus diam Nulla quis sem at nibh  imperdiet Duis sagittis ipsum</a></h4>
					  </div>
					 </div>
					 <div class="col-sm-4 space_left">
					  <div class="tab_inner_left tab_inner_comment clearfix tab_inner_left_news">
					   <a href="#"><img src="img/85.jpg" width="100%"></a>
					   <h4><a href="#">Class aptent taciti sociosqu ad litora  per conubia nostra</a></h4>
					  </div>
					 </div>
					 <div class="col-sm-4 space_left">
					  
					 </div>
					 
				  </div>
			   </div>
			  </div>
			  <div id="menu1_comment" class="tab-pane fade clearfix">
				 <div class="click clearfix">
				  <div class="tab_inner clearfix">
					 <div class="col-sm-4 space_left">
					  <div class="tab_inner_left tab_inner_comment clearfix tab_inner_left_news">
					   <a href="#"><img src="img/86.jpg" width="100%"></a>
					   <h4><a href="#">Praesent mauris Fusce nec tellus sed augue semper porta lacinia arcu eget nulla</a></h4>
					  </div>
					 </div>
					 <div class="col-sm-4 space_left">
					  <div class="tab_inner_left tab_inner_comment clearfix tab_inner_left_news">
					   <a href="#"><img src="img/87.jpg" width="100%"></a>
					   <h4><a href="#">Taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos  ligula</a></h4>
					  </div>
					 </div>
					 <div class="col-sm-4 space_left">
					  <div class="tab_inner_left tab_inner_comment clearfix tab_inner_left_news">
					   <a href="#"><img src="img/88.jpg" width="100%"></a>
					   <h4><a href="#"> Lacinia arcu eget nulla Class aptent taciti sociosqu ad litora torquent </a></h4>
					  </div>
					 </div>
				  </div>
			    </div>
			  </div>
			</div>

	 </div>
		 </div>
		 <div class="blog_comment_5 clearfix">
		  <h4>LEAVE A COMMENT</h4>
		  <textarea class="form-control form_1" placeholder="Comment:"></textarea>
		  <input class="form-control form_2" type="text" placeholder="Name: *">
		  <input class="form-control form_2" type="text" placeholder="Email: *">
		  <input class="form-control form_2" type="text" placeholder="Website: *">
		  <h5><a href="#">Submit Comment</a></h5>
		 </div>
		</div>
	   </div>
	 </div>
	   <div class="col-sm-4">
	     <div class="blog_page_right clearfix">
		   <div class="middle_right_2 clearfix">
			<div class="grid clearfix">
					<figure class="effect-chico">
						<img src="img/43.jpg" alt="img15">
						<figcaption>
							<h2>Head <span>Lines</span></h2>
							<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc...</p>
					 </figcaption>			
	            </figure>
					
	  </div>
	       </div>
		   <div class="middle_last_1_inner">
	    <h4 class="heading_tag"><a href="#">TRENDING BLOGS</a></h4>
		<div class="ih-item square effect2"><a href="#">
                      <div class="img"><img src="img/75.jpg" alt="img"></div>
                      <div class="info">
                        <h3>News is here</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Integer nec odio Praesent libero. Sed cursus ante dapibus diam...</p>
                      </div></a></div>
		<div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="img/51.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Curabitursodales ligula in libero Sed dignissim lacinia nunc.</a></p>
						 <h6>Mar 15, 2016</h6>
						</div>
					   </div>
					  </div>
	    <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="img/52.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Per inceptos himenaeos ligula in Sed dignissim lacinia?</a></p>
						 <h6>Mar 15, 2016</h6>
						</div>
					   </div>
					  </div>
	    <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="img/53.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce nec tellus sed augue semper porta Mauris massa lacinia lacinia nunc</a></p>
						 <h6>Mar 15, 2016</h6>
						</div>
					   </div>
					  </div>
		<div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="img/53.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Vestibulum lacinia arcu eget nulla ad litora torquent per conubia nostra, per inceptos himenaeos </a></p>
						 <h6>Mar 15, 2016</h6>
						</div>
					   </div>
					  </div>
	  </div>
	       <div class="footer_1_inner_1">
			  <h4 class="heading_tag"><a href="#">TRENDING CATEGORIES</a></h4>
			  <p><a href="#">Widgets<span class="pull-right">25</span></a></p>
			  <p><a href="#">Technical<span class="pull-right">41</span></a></p>
			  <p><a href="#">New launch 2017<span class="pull-right">21</span></a></p>
			  <p><a href="#">Comments<span class="pull-right">17</span></a></p>
			  <p><a href="#">Computer and Phones<span class="pull-right">18</span></a></p>
			  <p><a href="#">Foods<span class="pull-right">19</span></a></p>
	      </div>
		   <div class="blog_page_right_last clearfix">
		     <h4 class="heading_tag"><a href="#">LATEST CATEGORIES</a></h4>
			 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
				  <ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
					<li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
					<li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
				  </ol>

      <!-- Wrapper for slides -->
				  <div class="carousel-inner">
					<div class="item next left">
					  <img src="img/76.jpg" alt="...">
					  <div class="carousel-caption">
						<h4>Ligula In Libero</h4>
					  </div>
					</div>
					<div class="item">
					  <img src="img/77.jpg" alt="...">
					  <div class="carousel-caption">
						<h4>Ligula In Libero</h4>
					  </div>
					</div>
					<div class="item active left">
					  <img src="img/78.jpg" alt="...">
					  <div class="carousel-caption">
						<h4>Ligula In Libero</h4>
					  </div>
					</div>
				  </div>

      <!-- Controls -->
				  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				  </a>
				  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				  </a>
    </div>
		   </div>
		 </div>
	   </div>
   </div>
  </div>
 </div>
</section>

<section id="footer">
 <div class="footer_main clearfix">
  <div class="container">
  <div class="row">
   <div class="footer_1 clearfix">
    <div class="col-sm-4">
	 <div class="footer_1_inner">
	  <h4>DIRECTOR CHOICES</h4>
	  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="img/55.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce nec tellus sed augue semper porta Mauris massa lacinia Sed dignissim lacinia nunc...</a></p>
						 <h6>Feb 27, 2016</h6>
						</div>
					   </div>
	   </div>
	  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="img/56.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Vestibulum lacinia arcu eget nulla ad litora torquent per conubia nostra,ligula in libero</a></p>
						 <h6>Feb 27, 2016</h6>
						</div>
					   </div>
	   </div>
	  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="img/57.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Per inceptos himenaeos ligula in Sed dignissim lacinia</a></p>
						 <h6>Feb 27, 2016</h6>
						</div>
					   </div>
	   </div>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="footer_1_inner">
	  <h4>TRENDING BLOGS</h4>
	  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="img/51.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Per inceptos himenaeos ligula in Sed dignissim lacinia</a></p>
						 <h6>Feb 27, 2016</h6>
						</div>
					   </div>
	   </div>
	  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="img/52.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce nec tellus sed augue semper porta Mauris massa lacinia Sed dignissim lacinia nunc...</a></p>
						 <h6>Feb 27, 2016</h6>
						</div>
					   </div>
	   </div>
	  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="img/53.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Curabitursodales ligula in libero Sed dignissim lacinia nunc</a></p>
						 <h6>Feb 27, 2016</h6>
						</div>
					   </div>
	   </div>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="footer_1_inner_1">
	  <h4>TRENDING CATEGORY</h4>
      <p><a href="#">Widgets<span class="pull-right">25</span></a></p>
	  <p><a href="#">Technical<span class="pull-right">24</span></a></p>
	  <p><a href="#">New launch 2017<span class="pull-right">23</span></a></p>
	  <p><a href="#">Comments<span class="pull-right">21</span></a></p>
	  <p><a href="#">Computer and Phones<span class="pull-right">29</span></a></p>
	  <p><a href="#">Foods<span class="pull-right">41</span></a></p>
	  <p><a href="#">Designs<span class="pull-right">31</span></a></p>
	  <p><a href="#">Home Designs<span class="pull-right">28</span></a></p>
	  <p><a href="#">Fashion Club<span class="pull-right">22</span></a></p>
	 </div>
	</div>
   </div>
   <div class="footer_2 clearfix">
    <hr>
	<div class="footer_2_inner clearfix">
	 <div class="col-sm-4">
	  <div class="footer_2_inner_1 clearfix">
	    <div class="header_logo_left">
			      <h3><a href="index.html">NEWS <span class="span_1">24</span> PUBLISHING <span class="span_2">This is publish world</span></a></h3>
		</div>
	  </div>
	 </div>
	 <div class="col-sm-4">
	  <div class="footer_2_inner_2">
	   <h4>KNOW US</h4>
	   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>
	   <h5>Connect with us: <a href="#">info@gmail.com</a></h5>
	  </div>
	 </div>
	 <div class="col-sm-4">
	  <div class="footer_2_inner_3">
	   <h4>FOLLOW US</h4>
	   <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul>
	  </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
 </div>
</section>

<section id="footer_bottom">
 <div class="container">
  <div class="row">
   <div class="footer_bottom clearfix">
    <div class="col-sm-6">
	 <div class="footer_bottom_left">
	  <p> © 2013 Your Website Name. All Rights Reserved | Design by <a href="http://www.templateonweb.com">TemplateOnWeb</a></p>
	 </div>
	</div>
	<div class="col-sm-6">
	 <div class="footer_bottom_right text-right">
	  <p>
	  <a href="#">Privacy</a>
	  <a href="#">Policy</a>
	  <a href="#">Promotion</a>
	  <a href="#">Contact us</a>
	  </p>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<div id="toTop" class="btn btn-info" style="display: block; background:#4db2ec; border-color:#4db2ec;"><span class="fa fa-chevron-up"></span></div>

<script type="text/javascript">
$(document).ready(function(){
  $('body').append('<div id="toTop" class="btn btn-info"><span class="glyphicon glyphicon-chevron-up"></span> Back to Top</div>');
	$(window).scroll(function () {
		if ($(this).scrollTop() != 0) {
			$('#toTop').fadeIn();
		} else {
			$('#toTop').fadeOut();
		}
	}); 
$('#toTop').click(function(){
	$("html, body").animate({ scrollTop: 0 }, 600);
	return false;
});
});

</script>


</body>
       
</html>
